/* headbar.css */
.header {
  display: flex;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0;
  height: 50px;
  position: relative;
}

.toggle-btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  text-align: left;
  position: absolute;
  left: 0;
}

.toggle-btn:hover {
  background-color: #555;
}

.header h1 {
  flex-grow: 1;
  margin: 0;
  text-align: center;
}
