/* studentdashboard.css */
.sidebar {
  width: 250px;
  background-color: #222;
  color: white;
  transition: transform 0.3s ease;
  padding: 0;
  height: 100vh; /* Ensure the sidebar occupies the full height */
  position: fixed; /* Fix the position to the left */
  top: 0;
  left: 0;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar.hide {
  transform: translateX(-100%);
}

.sidebar .buttons {
  display: flex;
  flex-direction: column;
  margin-top: 50px; /* Adjust to provide space below the toggle button */
}

.sidebar .buttons button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.sidebar .buttons button:hover {
  background-color: #444;
}

.content {
  transition: margin-left 0.3s ease;
  margin-left: 0; /* Default margin */
}

.content-shift {
  margin-left: 250px; /* Adjust to match the width of the sidebar */
}
